.skill {
  display: flex;
  justify-content: center;
  align-content: center;

  flex-direction: column;
  background-color: #434c5e;
  width: 120px;
  height: 176px;
  border-radius: 10px;

  box-shadow: rgba(15, 17, 21, 0.25) 0px 4px 6px;
}

.skill:hover {
  background-color: #4c566a;
}

.icon {
  margin: auto;
}
